CONFIG_STATIC=y
# CONFIG_PIE is not set
CONFIG_BUSYBOX=y
CONFIG_ASH=y
CONFIG_SH_IS_ASH=y
CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_FEATURE_PREFER_APPLETS=y
CONFIG_LS=y
CONFIG_CAT=y
CONFIG_ECHO=y
CONFIG_PWD=y
CONFIG_MKDIR=y
CONFIG_RM=y
CONFIG_CP=y
CONFIG_MV=y
CONFIG_TOUCH=y
